name: "UiPath: Сборка пакета (nupkg)"

on:
  push:
    branches: '**'

env:
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}\.artifacts

jobs:
  build-package:
    runs-on: windows-latest
    
    steps:
    - name: "Checkout"
      uses: actions/checkout@v4

    - name: "Setup .NET"
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'

    - name: "Setup UiPath (uipcli) command line tool"
      uses: Mikael-RnD/setup-uipath@v2
      with:
        platform-version: '24.10'

    - name: "Pack Project"
      shell: pwsh
      run: |
        $projectDir = "${{ github.workspace }}"
        $projectJsonPath = Join-Path $projectDir "project.json"
        $artifactsDir = Join-Path $projectDir ".artifacts"
        
        # Читаем 'projectVersion'
        $projectJson = Get-Content -Raw -Path $projectJsonPath | ConvertFrom-Json
        $baseVersion = $projectJson.projectVersion
        
        $newVersion = "$baseVersion"
        
        Write-Output "Project directory: $projectDir"
        Write-Output "Base version: $baseVersion"
        Write-Output "Packing with new version: $newVersion"
        
        # Создаем папку
        if (-not (Test-Path $artifactsDir)) {
          mkdir $artifactsDir
        }
        
        # Запускаем pack с явным путем к проекту и папке вывода
        uipcli package pack $projectDir --output $artifactsDir --version $newVersion

    - name: "List files in workspace"
      shell: pwsh
      run: |
        # 'ls -R' — это команда PowerShell для рекурсивного 
        # отображения всех файлов и папок
        ls -R "${{ github.workspace }}"

    - name: "Push to GitHub Packages"
      shell: pwsh
      run: |
        $package = Get-ChildItem -Path "${{ env.PACKAGE_OUTPUT_DIRECTORY }}" -Filter "*.nupkg" | Select-Object -First 1
        
        Write-Output "Pushing package: $($package.FullName)"
        
        dotnet nuget push $package.FullName --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --api-key "${{ secrets.MY_GITHUB_TOKEN }}"