name: "UiPath: Сборка пакета (nupkg)"

on:
  push:
    branches: '**' # Запуск при создании тега, напр. v1.0.0

jobs:
  build-package:
    # Используем Windows-агент
    runs-on: windows-latest 
    
    steps:
    # 1. Загружаем исходный код из Git
    - name: "Checkout"
      uses: actions/checkout@v4

    # 2. Устанавливаем .NET SDK (необходим для uipcli)
    - name: "Setup .NET"
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x' 

    # 3. Устанавливаем UiPath CLI (uipcli)
    - name: "Setup UiPath (uipcli) command line tool"
      uses: Mikael-RnD/setup-uipath@v2

    # 4. Собираем (пакуем) проект в NuGet пакет
    # ${GITHUB_REF_NAME} - это имя тега (напр., 'v1.0.2')
    # ${GITHUB_REF_NAME#v} убирает 'v' из тега (v1.0.2 -> 1.0.2)
    - name: "Pack Project"
      shell: pwsh
      run: |
        $projectJson = Get-Content -Raw -Path ".\project.json" | ConvertFrom-Json
        $baseVersion = $projectJson.projectVersion
        $newVersion = "$baseVersion.${{ github.run_number }}"
        
        Write-Output "Base version: $baseVersion"
        Write-Output "Packing with new version: $newVersion"
        
        mkdir .\.artifacts
        uipcli package pack . --output .\.artifacts --version $newVersion

    # 5. Сохраняем собранный .nupkg как артефакт
    - name: "Upload Artifact"
      uses: actions/upload-artifact@v4
      with:
        name: nuget-package
        path: .\.artifacts\*.nupkg